:export {
  --color-primary: #1f7e6b;
  --color-success: #268dcc;
  --color-info: #2083c2;
  --color-warning: #d08e46;
  --color-danger: #96303e;
  --color-link: #69a7cc;
  --color-text-primary: #e6e6e6;
  --color-text-secondary: #a6a6a6;
  --color-icon-primary: #cccccc;
  --color-border: #333333;
  --color-input-border: #555555;
  --color-disabled-background: #222222;
  --color-disabled: #444444;
  --color-help-text: #4f5359;
  --banner-bg: #1d7961;
  --submenu-bg: #242525;
  --menu-bg: #242525;
  --menu-text: #999999;
  --menu-text-active: #1ab394;
  --menu-hover: #3c6461;
}
